body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', serif;
}

.game_wrapper{
    height: 100vh;
    display: flex;
     /* justify-content: center;  */
    /* align-items: center; */
    background: #F4F2E8;
}

.game_wrapper_block{
    min-width: 900px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.game{
    width: 810px;
    height: 600px;
    position: relative;
    background-color: #B6D9AA;
}

.snake{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1000;
    background-color: #7B4339;
    border-radius: 8px;
}

.food{
    height: 30px;
    width: 30px;
    position: absolute;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.game-menu{
    color: #2F2728;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 30px;
}

#control-panel{
    height: 600px;
}

#control-panel p{
    font-size: 30px;
}

#start-game{
    color: #fff;
    border: none;
    background: #7B4339;
    cursor: pointer;
    padding: 20px 30px;
}

.apple{
    background-image: url("./resources/apple.png");
}

.banana{
    background-image: url("./resources/banana.png");
}

.pear{
    background-image: url("./resources/pear.png");
}

.bomb{
    background-image: url("./resources/bomb.png");
}

.double{
    background-image: url("./resources/double.png");
}

.speedup{
    background-image: url("./resources/speedup.png");
}

.slowdown{
    background-image: url("./resources/slowdown.png");
}